<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '3609976134',
        accessToken: '3609976134.1677ed0.d9e7a73f01fa4a22bc9ae5dfc91105a3',
        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" title="❤  {{likes}} curtida(s) e {{comments}} comentário(s). Siga o JAC no Twitter!" width="298px" title="❤ {{likes}} curtida(s) e {{comments}} comentário(s). Siga o JAC no Twitter!" alt="❤  {{likes}} curtida(s) e {{comments}} comentário(s). Siga o JAC no Twitter!"/></a>'
    });
    userFeed.run();
</script>
<div id="instafeed"></div>