<meta charset="utf-8">
<li>Colaborar e seguir toda a programação do acampamento;</li>

<li>Respeitar e acatar as orientações da equipe organizadora. Toda regra é para o bem de todos e para o bom andamento da programação;</li>

<li>Zelar pela limpeza e organização dos quartos, banheiros e todas as áreas do acampamento.</li>
<li>Trajar roupas decentes e condizentes com os diferentes lugares e momentos do evento: horários de culto, lazer, recreação e piscina;</li>

<li>Respeitar o horário de silêncio definido para descanso;</li>

<li>Cuide de seus pertences. A igreja, a equipe de organização e o acampamento não se responsabilizam por extravios de objetos e dinheiro;</li>

<li>Os casais que namoram devem evitar contato físico inconveniente (beijos de qualquer tipo, abraços, etc.). Aproveitem o tempo para se enturmarem com o grupo, conhecer novos amigos e desfrutar ao máximo da programação do evento;</li>

<li>É proibido se isolar do grupo sem antes avisar o seu conselheiro ou algum membro da comissão organizadora;</li>

<li>É expressamente proibido “ficar”. Respeite a regra e evite constrangimentos;</li>

<li>Em caso extremo o acampante poderá será convidado a retirar-se do evento;</li>

<li>O valor do evento é de R$ 120,00 por pessoa. Este valor inclui estadia de 3 dias, 2 noites e alimentação. A data máxima para quitar o pagamento é 06/09/2015 para que as compras de alimentação e materiais sejam realizadas em tempo hábil;</li>

<li>As vagas são limitadas. Portanto, o acampante poderá pagar 50% do valor total da inscrição para assegurar 1 (uma) vaga. O pagamento do restante deverá ser pago até o dia 06/09/2016.</li>

<li>Caso o acampamente reserve uma vaga e por alguma eventualidade não possa comparecer ao evento, o reembolso somente será realizado mediante a comprovação de haver compromissos judiciais, enfermidades ou fatalidades que envolvam a família.</li>