<!DOCTYPE HTML>
<html>
<head>
<title>JAC Acamps - X-MEN - O FIM ESTÁ PRÓXIMO</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="@{'public/stylesheets/ie/html5shiv.js'}"></script><![endif]-->
<script src="@{'public/javascripts/jquery.min.js'}"></script>
<script src="@{'public/javascripts/jquery.scrolly.min.js'}"></script>
<script src="@{'public/javascripts/jquery.poptrox.min.js'}"></script>
<script src="@{'public/javascripts/skel.min.js'}"></script>
<script src="@{'public/javascripts/init.js'}"></script>
<link rel="stylesheet" href="@{'public/stylesheets/skel.css'}" />
<link rel="stylesheet" href="@{'public/stylesheets/style.css'}" />
<!--[if lte IE 8]><link rel="stylesheet" href="@{'public/stylesheets/ie/v8.css'}" /><![endif]-->
</head>
<body bgcolor="black">
	<!-- Header -->
	<section id="header">
		<header>
			<div id="over">
				<img src="@{'/public/images/logo.png'}" alt="X-MEN - O FIM ESTÁ PRÓXIMO" width="398px" />
			</div>
			<h1>O FIM ESTÁ PRÓXIMO</h1>
			<p>09 a 11 de setembro de 2016</p>
		</header>
		<footer>
			<a href="#banner" class="button style2 scrolly-middle"><b>INSCREVA-SE!</b> TALVEZ SEJA NECESSÁRIA UMA MUTAÇÃO!</a>
		</footer>
	</section>

	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>Filipenses 3</h2>
		</header>
		<p>
			20. Mas a nossa cidade está nos céus, de onde também esperamos o Salvador, o Senhor Jesus Cristo.
		</p>
		<footer>
			<a href="#first" class="button style2 scrolly">Conheça.</a>
		</footer>
	</section>

	<!-- Feature 1 -->
	<article id="first" class="container box style1 right">
		<a href="#" class="image fit"><img src="@{'/public/images/20.jpg'}" alt="" /></a>
		<div class="inner">
			<header>
				<h2>Preleções</h2>
			</header>
			<p>Durante os dias do acampamento, os preletores convidados abordam o tema com mensagens dinâmicas. O conteúdo é fundamentado na Palavra Eterna, Inerrante e Infalível: A Palavra de Deus.</p>
			<p>Convidados: Pr. Rodrigo e Pr Rogério, DF.</p>
		</div>
	</article>

	<!-- Feature 2 -->
	<article class="container box style1 left">
		<a href="#" class="image fit"><img src="@{'/public/images/6.jpg'}" alt="" /></a>
		<div class="inner">
			<header>
				<h2>Grupos de devocionais</h2>
			</header>
			<p>Conselheiros dirigem grupos de devocionais. O conteúdo e aplicação são direcionados por faixa etária. O grupo discute o tema. Os acampantes aprendem, opinam, tiram dúvidas e são aconselhados.</p>
		</div>
	</article>
	
	<article class="container box style2">
		<header>
			<h2>As festas</h2>
			<p>[1] A Festa das Audições - The Voice Church [2] Festa dos Mutantes</p>
		</header>
		<div class="inner gallery">
			<div class="row 0%">
			</div>
		</div>
	</article>
	
	<article class="container box style1 right">
		<a href="#" class="image fit" style="background-color: white"><img src="@{'/public/images/the_voice.png'}" alt="The Voice Church" style="background-color: white" /></a>
		<div class="inner">
			<header>
				<h2>A Festa das Audições</h2>
			</header>
			<p>Você é convidado para um evento musical ao vivo. A Rede Bobo transmitirá o evento que reunirá grandes artistas no palco. Nossos jurados avaliarão a performance. Quesitos como 'Desafinação musical', 'Taquara dissonante', 'Histeria aguda e grave', 'Dó maior ou dó menor', 'Bizarrice diatônica' serão avaliados. A sua inscrição trará GRANDES benefícios ao seu grupo.</p>
		</div>
	</article>
	
	<article class="container box style1 left">
		<a href="#" class="image fit"><img src="@{'/public/images/festa-dos-mutantes.jpg'}" alt="" /></a>
		<div class="inner">
			<header>
				<h2>Festa dos Mutantes</h2>
			</header>
			<p>O evento mais esperado. Aqueles que sofreram mutação estarão presentes. Grandes poderes estarão reunidos. As melhores caracterizações valerão bônus aos respectivos grupos.</p>
		</div>
	</article>

	<!-- Portfolio -->
	<article class="container box style2">
		<header>
			<h2>OS ACAMPANTES SE AVENTURAM</h2>
			<p>Imagens dos Acampamentos JC1, JC2, JC3 e AC1.</p>
		</header>
		<div class="inner gallery">
			<div class="row 0%">
				#{include 'includes/insta.html' /}
			</div>
		</div>
	</article>

	<!-- Generic -->
	<article class="container box style3">
		<header>
			<h2>Quer ir pra guerra?</h2>
			<p>Leia as regras. Elas existem para serem cumpridas.</p>
		</header>
		<section>
			<header>
				<h3>Regulamento</h3>
			</header>
			<ol class="default">
				#{include 'includes/rules.html' /}
			</ol>
		</section>
	</article>
	<article class="container box style3">
			<header>
				<h3>Mensagens aos acampantes</h3>
			</header>
			<div class="default">
				#{include 'includes/messages.html' /}
			</div>
	</article>
	<article class="container box style3">
			<header>
				<h3>Últimos Inscritos</h3>
			</header>
			<div class="table-wrapper">
				#{include 'includes/lastEnrolled.html' /}
			</div>
	</article>
	<article class="container box style3">
		<header>
			<h2>Não vacile. As vagas são limitadas.</h2>
		</header>
		<div class="inner">
			<div class="row 0%">
			</div>
			<footer>
				<a href="/inscricao" style="display: table; text-align: center; margin-left: auto;  margin-right: auto;" class="button style3">Inscrever-se</a>
			</footer>
		</div>
	</article>
	#{include 'includes/footer.html' /}
	</body>
</html>