<meta charset="utf-8">
<style>
h2 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
</style>
<h2>CONTATOS</h2>
<h3>Luis Eduardo: (62) 99311-4815</h3>
<h3>Fabiane: (62) 99257-1859</h3>
<h3>Pr. Thiago: (62) 99105-3616</h3>
<h3>Pr. Mário: (62) 99331-0403</h3>

<h2>DADOS DO LOCAL DO EVENTO</h2>
<h3>Estância: D. Agnes</h3>
<h3>Referência: Próximo aos acampamentos Missão Vida (Ig. Ass. de Deus) e El Rancho (Ig. Presb. Central)</h3>
<h3>Distância: Aproximadamente 60 km de Anápolis/GO sentido Corumbá/GO.</h3>
<h3>Entrada a esquerda antes de chegar em Cocalzinho/GO.</h3>
<h3>Coordenadas GPS: -15.825290, -48.785585</h3>

<h2>SAÍDA - 09/09/2016</h2>

<h3>Anápolis/GO: 19h30 IBRC</h3>
<h3>Rua P 24, Qd. 15, Lt. 18, Jardim Progresso, Anápolis, GO</h3>
<h3>Coordenadas: -16.287488, -48.958304</h3>

<h3>Samambaia/DF: 19h30 IBS</h3>
<h3>QR 412, CJ 1, CASA 27, Samambaia Norte, DF</h3>
<h3>Coordenadas: -15.86045274726546,-48.07568967442587</h3>

<h2>Chegada - 11/09/2016</h2>
<h3>Horário: 16h30</h3>


<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">