<!DOCTYPE HTML>
<html>
<head>
<title>Mapa do Local - Acampamento JAC - X-MEN - O Fim está Próximo</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="@{'public/stylesheets/ie/html5shiv.js'}"></script><![endif]-->
<script src="@{'public/javascripts/jquery.min.js'}"></script>
<script src="@{'public/javascripts/jquery.scrolly.min.js'}"></script>
<script src="@{'public/javascripts/jquery.poptrox.min.js'}"></script>
<script src="@{'public/javascripts/skel.min.js'}"></script>
<script src="@{'public/javascripts/init.js'}"></script>
<link rel="stylesheet" href="@{'public/stylesheets/skel.css'}" />
<link rel="stylesheet" href="@{'public/stylesheets/style.css'}" />
<!--[if lte IE 8]><link rel="stylesheet" href="@{'public/stylesheets/ie/v8.css'}" /><![endif]-->
</head>
<body bgcolor="black">
	<section id="header" style="background-color: black; padding: 0;">
		<header>
			<div id="over">
				<img src="@{'/public/images/logo.png'}" alt="JOVENS VORAZES - A ESPERANÇA" width="398px" />
			</div>
			<h1>X-MEN - O FIM ESTÁ PRÓXIMO</h1>
			<p>
				<b>ACAMPAMENTO JAC - MAPA DO LOCAL DO EVENTO</b>
			</p>
			<p>
				ESTÂNCIA D. AGNES - COCALZINHO/GO
			</p>
			<p>
				COORDENADAS: -15.825290, -48.785585
			</p>
			<p>
			</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.643979793266!2d-48.78558499999936!3d-15.825289990096099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDQ5JzMxLjAiUyA0OMKwNDcnMDguMSJX!5e1!3m2!1spt-BR!2sbr!4v1428033975126" width="1000" height="600" frameborder="0" style="border:0"></iframe>
		</header>
	</section>
	
	#{include 'includes/footer.html' /}
</body>
</html>