<meta charset="utf-8">
<style>
h2 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
</style>
<h2>FIQUE ATENTO! É RECOMENDADO LEVAR:</h2>

<h3>1. Bíblia e materiais para anotações: papel, caneta, lápis;</h3>

<h3>2. Roupas de cama: lençol, travesseiro, fronha, cobertor / edredom;</h3>

<h3>3. Roupa e acessórios para as noites temáticas: festa dos Jovens Vorazes e Festa Mexicana</h3>

<h3>4. Roupa para Rally: peças que possam sujar, rasgar, etc...</h3>

<h3>5. Produtos de higiene pessoal: sabonete, escova de dente, etc...</h3>

<h3>6. Não será admitido o uso de sungas ou biquínis;</h3>

<h3>7. Roupas de banho: rapazes: bermuda; moças: maiô e shorts, camiseta e shorts;</h3>

<h3>8. Muita animação, disposição, bom humor e o coração aberto para receber os ensinamentos de Deus.</h3>

<h2>SAÍDA - 09/09/2016</h2>

<h3>Anápolis/GO: 19h30 IBRC</h3>
<h3>Rua P 24, Qd. 15, Lt. 18, Jardim Progresso, Anápolis, GO</h3>
<h3>Coordenadas: -16.287488, -48.958304</h3>

<h3>Samambaia/DF: 19h30 IBS</h3>
<h3>QR 412, CJ 1, CASA 27, Samambaia Norte, DF</h3>
<h3>Coordenadas: -15.86045274726546,-48.07568967442587</h3>

<h2>Chegada - 11/09/2016</h2>
<h3>Horário: 16h30</h3>


<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">