<meta charset="utf-8">
<style>
h2 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
</style>
<h2>Conta para depósito - Acampamento JAC</h2>
<h3>
	<b>Banco:</b> CEF - Caixa Econômica Federal - Código: 104
</h3>
<h3>
	<b>Operação:</b> 013 / <b>Agência:</b> 2262 / <b>Conta poupança:</b> 553187-2
</h3>
<h3>
	<b>Instituição:</b> Igreja Batista Regular do Calvário
</h3>
<h3>
	<b>CNPJ:</b> 24.857.385/0001-76 / <b>Valor:</b> R$ 120,00
</h3>
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">